<!DOCTYPE html>
<html><head>
  <meta charset="utf-8" />
  <title>UMG · api</title>
  <style>
    html {
      height : 100%;
      margin : 0;
      padding : 0;
      width : 100%
    }
    body {
      background-attachment : fixed;
      background-color : #111;
      background-repeat : no-repeat;
      background-size : cover;
      color : #aaa;
      font-size : 16px;
      font-family : Ubuntu, Roboto, "Helvetica Neue Lt STD", "DejaVu Sans", Arial;
    }
    h1 {
      font-size : 5rem;
      font-weight : 500;
    }

    dd {
      margin : 0.5em 0 1em 5rem;
    }
    dt {
      font-weight : 600;
    }

    .w50 {
      width : 50%;
    }

    .cntr {
      align-items     : center;
      justify-content : center;
      text-align      : center;
    }

    .left,
    .flx.left {
      align-items     : flex-start;
      justify-content : flex-start;
      text-align      : left;
    }

    .right,
    .flx.right {
      align-items     : flex-end;
      justify-content : flex-end;
      text-align      : right;
    }

    /* *************************************                           flexy stuff      */
    .flx {
      align-items     : center;
      display         : flex;
      flex-wrap       : wrap;
      justify-content : space-around;
    }
  </style>
</head><body>
  <div class="cntr">
    <h1>UMG · api</h1>
    <p>a small API for the Ultimate Moviegoer's Guide</p>
    <p>(all results are returned in JSON format)</p>
  </div>
  <br>
  <div class="flx cntr">
    <dl class="left w50">
      <dt>/actor/{<i>actorID</i>}</dt>
      <dd>Get all of the details for the actor with an id of <i>actorID</i></dd>

      <dt>/actors/{<i>movieID</i>}</dt>
      <dd>Get all of the details for the movie with an id of <i>movieID</i></dd>

      <dt>/categories</dt>
      <dd>Get id's for all of the available categories</dd>

      <dt>/movie/{<i>movieID</i>}</dt>
      <dd>Get all of the details for the movie with an id of <i>movieID</i></dd>

      <dt>/ratings</dt>
      <dd>Get available rating codes</dd>

      <dt>/search?title={<i>term</i>}<br>
        &nbsp; &nbsp; [&rating={<i>ratingCode</i>}]<br>
        &nbsp; &nbsp; [&category={<i>categoryID</i>}]<br>
        &nbsp; &nbsp; [&details={<i><b>brief</b>,all</i>}]</dt>
      <dd>Get movies that contain <i>term</i> in the title of the movie; optionally filtered by rating and/or category.
        By default, movie listings will return <b>brief</b> details.</dd>

    </dl>
  </div>

</body>
</html>
